html{
    color: white;
    font-family: Arial, serif;
    background: #1c1c1c;
}

#root{
    align-self: auto;
    display: flex;
    width: 400px;
    margin: 50px auto;
}

form{
    display: flex;
    flex-flow: column;
    height: 60px;
    margin: 0 auto;
    position: relative;
}

input{
    background: white;
    border: black solid 1px;
    border-radius: 5px;
    width: 98%;
    height: 20px;
}

button{
    background: #00c4bd;
    border: black solid 1px;
    border-radius: 5px;
    height: 24px;
    display: flex;
    top: 0;
    right: 0;
    position: absolute;
}

.suggestion{
    cursor: pointer;
    color: black;
    background: white;
    border-radius: 5px;
    padding: 2px 5px 0;
    margin-top: 5px;
    vertical-align: center;
}

.weather{
    display: flex;
    flex-direction: column;
    color: white;
    background: #484848;
    border-radius: 10px;
    padding: 8px;
}

.city{
    text-decoration: underline #00c4bd;
    font-size: 28px;
    margin-bottom: 5px;
}

.main{
    display: flex;
    flex-direction: column;
}

.temp{
    font-size: 28px;
    margin: 0 5px ;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.text{
    font-size: small;
    margin: 5px 0 5px 0;
}

.feels{
    font-size: small;
    margin: 0 5px ;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

 #f{
     color: #808080;
 }

 .secondary{
     margin-top: 15px;
     display: flex;
 }

 .info{
     margin: 10px 0 10px 10px;
     display: flex;
     flex-flow: column;
     justify-content: space-around;
 }

 .secondary>div{
     text-align: right;
     display: flex;
 }

#icon{
    background: #00c4bd;
    border: white solid 2px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.wind{
    display: flex;
}

.wind>div{
    margin: 6px;
}

#back{
    filter: invert() brightness(65%);
    height: 30px;
    margin-right: 10px;
    position: relative;
}
#arrow{
    border-radius: 50%;
    margin: 5px;
    height: 20px;
    position: absolute;
}
